html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.body-chat {
    border: 1px solid black;

    width: 53.5%;
    min-height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-chat header {
    background-color: #C4C4C4;
    
    padding: 2rem 1rem;

    border: 1px solid black;
}

.body-chat header h1 {
    font-size: 24px;
    font-weight: normal;
}


.message-section {
    width: 75%;
    height: 25%;

    padding: 0.5rem;

    background-color: #C4C4C4;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border: 1px solid black;
}

.message-section button {
    align-self: flex-start;

    background-color: #06C;
    border: none;
    border-radius: 10px;

    padding: 0.5rem 1.3rem;
    color: white;

    cursor: pointer;

    margin-top: 5px;
}

#message-box {
    width: 82%;
    height: 88%;
    max-width: 82%;
    max-height: 88%;

    background-color: white;

    border: 1px solid black;
}

#messages {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 10px 20px;

}

.div-paragrafo {
    border: 1px solid black;
    padding: 0.5rem;
    
    word-wrap: break-word;
}

.div-buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    border: none;

    padding: 5px;

    font-size: 14px;

    cursor: pointer;
}

.delete-button {
    background-color: red;
}

.edit-button {
    background-color: #F6A75D;
}
